*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 3vw;
    margin: 15px;
}

body{
    background-image: url('bg-wall.jpg');
    background-position: top;
    background-size: cover;
    color: white;
    height: 100vh;
}

.container{
    background-color: #c36e4552;
    width: 70vw;
    margin: auto;
    height: 75vh;
    padding: 8px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.message{
    background-color: blue;
    width: 28vw;
    padding: 8px;
    margin: 10px;
    border-radius: 13px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.btn{
    cursor: pointer;
}

#messageInp{
    width: 62%;
    border-radius: 14px;
    height: 6vh;
}