@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 3vw;
    margin: 15px 5px;
}

.logo-text{
    font-family: 'MedievalSharp', cursive;
    color: #c7b62a;
}

body{
    background-image: linear-gradient(#00000063,#00000063), url('bg-wall.jpg');
    background-position: top;
    background-size: cover;
    color: white;
    height: 100vh;
}

.container{
    background-color: #27264094;
    width: 70vw;
    margin: auto;
    height: 75vh;
    padding: 8px;
    margin-bottom: 10px;
    overflow-y: auto;
    border-bottom: 14px ridge #7730308C;
    border-top: 14px ridge #7730308C;
    border-radius: 0px 40px 0px 40px;
    
}

.message{
    background-color: #ced4da;
    color: black;
    width: 28vw;
    padding: 8px;
    margin: 10px;
    /* order-radius: 13px; */
}

.left{
    float: left;
    clear: both;
    border-radius: 0px 40px 40px 40px;
    border-right: 5px ridge #7730308C;
    border-bottom: 5px ridge #7730308C;
}

.right{
    float: right;
    clear: both;
    border-radius: 40px 40px 0px 40px;
    border-left: 5px ridge #7730308C;
    border-bottom: 5px ridge #7730308C;
}

#send-container{
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.btn{
    cursor: pointer;
    /* width: 2%;
    height: 4vh; */
    border-radius: 13px;
    color: white;
    background-color: #c0c01300;
    border: none;
    padding-left: 6px;
}

#messageInp{
    width: 45%;
    border-radius: 14px;
    height: 4vh;
    background-color: #0000;
    color: white;
    padding: 0 10px;
}